body {
  font-size: 13px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
}
h2 {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
}
h3 {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 24px;
}
